*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: hsl(240, 11%, 41%);
}
main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    .testimonials-slider{
        display: flex;
        align-items: center;
        max-width: 700px;
        position: relative;
        .pattern-bg{
            position: absolute;
            left: 230px;
            bottom: -45px;
            width: 75%;
            z-index: -2;
        }
        .pattern-curve{
            position: absolute;
            left: 50px;
            bottom: -48px;
            width: 70%;
            z-index: -2;
        }
        .pattern-quote{
            position: absolute;
            top: 50px;
            left: 80px;
            width: 10%;
            z-index: -2;
        }
        .testimonials-text{
            width: 100%;
            position: relative;
            left: 50px;
            .text{
                font-size: 1.1rem;
                letter-spacing: 0.5px;
                line-height: 28px;
                margin: 1em 0;
            }
            .testimonials-info{
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                .name{
                    color: hsl(240, 13%, 29%);
                    margin-right: 1em;
                }
                .job{
                    color: hsl(240, 23%, 75%);
                }
            }
        }
        .testimonials-image{
            width: 100%;
            .img-person{
                width: 100%;
                vertical-align: middle;
            }
            .testimonials-button{
                width: 24.1%;
                background-color: #eee3d7;
                border-radius: 30px;
                cursor: pointer;
                position: relative;
                top: -20px;
                left: 50px;
                .prev,
                .next{
                    font-size: 1.5rem;
                    padding: 0.2rem 1rem 0.4rem 1rem;
                    align-items: center;
                    cursor: pointer;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    border: none;
                    border-radius: 30px 0 0 30px;
                }
                .next{
                    border-radius: 0 30px 30px 0;
                }
            }
        }
    }
}
@media(max-width: 840px){
    main{
        .testimonials-slider{
            flex-direction: column-reverse;
            max-width: 300px;
            .pattern-bg{
                left: -50px;
                bottom: 260px;
                width: 130%;
            }
            .pattern-quote{
                top: 330px;
                left: 90px;
                width: 15%;
            }
            .pattern-curve{
                left: 0;
                bottom: 0;
                width: 90%;
            }
            .testimonials-text{
                left: 0;
                height: 250px;
                text-align: center;
                .testimonials-info{
                    display: block;
                    text-align: center;
                    .name,
                    .job{
                        margin: 0.5em 0;
                    }
                }
            }
            .testimonials-image{
                .testimonials-button{
                    width: 28.1%;
                    left: 110px;
                }
            }
        }
    }
}
@media(max-width: 360px){
    main{
        .testimonials-slider{
            max-width: 200px;
            .pattern-bg{
                left: -40px;
                bottom: 360px;
                width: 130%;
            }
            .pattern-quote{
                top: 240px;
                left: 90px;
                width: 15%;
            }
            .pattern-curve{
                left: 0;
                bottom: 0;
                width: 90%;
            }
            .testimonials-text{
                left: 0;
                height: 250px;
                text-align: center;
                height: 350px;
                .text{
                    font-size: 0.85rem;
                    margin: 1em 0 1.5em 0;
                }
                .testimonials-info{
                    display: block;
                    text-align: center;
                    .name,
                    .job{
                        margin: 0.5em 0;
                    }
                }
            }
            .testimonials-image{
                .testimonials-button{
                    width: 43%;
                    left: 30px;
                    .testimonials-button{
                        .prev,
                        .next{
                            padding: 0.2rem 1rem 0.4rem 1rem;
                        }
                    }
                }
            }
        }
    }
}