*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #5d5d74;
}

main {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .testimonials-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  position: relative;
}

main .testimonials-slider .pattern-bg {
  position: absolute;
  left: 230px;
  bottom: -45px;
  width: 75%;
  z-index: -2;
}

main .testimonials-slider .pattern-curve {
  position: absolute;
  left: 50px;
  bottom: -48px;
  width: 70%;
  z-index: -2;
}

main .testimonials-slider .pattern-quote {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 10%;
  z-index: -2;
}

main .testimonials-slider .testimonials-text {
  width: 100%;
  position: relative;
  left: 50px;
}

main .testimonials-slider .testimonials-text .text {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin: 1em 0;
}

main .testimonials-slider .testimonials-text .testimonials-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

main .testimonials-slider .testimonials-text .testimonials-info .name {
  color: #404054;
  margin-right: 1em;
}

main .testimonials-slider .testimonials-text .testimonials-info .job {
  color: #b1b1ce;
}

main .testimonials-slider .testimonials-image {
  width: 100%;
}

main .testimonials-slider .testimonials-image .img-person {
  width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

main .testimonials-slider .testimonials-image .testimonials-button {
  width: 24.1%;
  background-color: #eee3d7;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  top: -20px;
  left: 50px;
}

main .testimonials-slider .testimonials-image .testimonials-button .prev,
main .testimonials-slider .testimonials-image .testimonials-button .next {
  font-size: 1.5rem;
  padding: 0.2rem 1rem 0.4rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 30px 0 0 30px;
}

main .testimonials-slider .testimonials-image .testimonials-button .next {
  border-radius: 0 30px 30px 0;
}

@media (max-width: 840px) {
  main .testimonials-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 300px;
  }
  main .testimonials-slider .pattern-bg {
    left: -50px;
    bottom: 260px;
    width: 130%;
  }
  main .testimonials-slider .pattern-quote {
    top: 330px;
    left: 90px;
    width: 15%;
  }
  main .testimonials-slider .pattern-curve {
    left: 0;
    bottom: 0;
    width: 90%;
  }
  main .testimonials-slider .testimonials-text {
    left: 0;
    height: 280px;
    text-align: center;
  }
  main .testimonials-slider .testimonials-text .testimonials-info {
    display: block;
    text-align: center;
  }
  main .testimonials-slider .testimonials-text .testimonials-info .name,
  main .testimonials-slider .testimonials-text .testimonials-info .job {
    margin: 0.5em 0;
  }
  main .testimonials-slider .testimonials-image .testimonials-button {
    width: 28.1%;
    left: 110px;
  }
}

@media (max-width: 360px) {
  main .testimonials-slider {
    max-width: 200px;
  }
  main .testimonials-slider .pattern-bg {
    left: -40px;
    bottom: 360px;
    width: 130%;
  }
  main .testimonials-slider .pattern-quote {
    top: 240px;
    left: 90px;
    width: 15%;
  }
  main .testimonials-slider .pattern-curve {
    left: 0;
    bottom: 0;
    width: 90%;
  }
  main .testimonials-slider .testimonials-text {
    left: 0;
    height: 250px;
    text-align: center;
    height: 350px;
  }
  main .testimonials-slider .testimonials-text .text {
    font-size: 0.85rem;
    margin: 1em 0 1.5em 0;
  }
  main .testimonials-slider .testimonials-text .testimonials-info {
    display: block;
    text-align: center;
  }
  main .testimonials-slider .testimonials-text .testimonials-info .name,
  main .testimonials-slider .testimonials-text .testimonials-info .job {
    margin: 0.5em 0;
  }
  main .testimonials-slider .testimonials-image .testimonials-button {
    width: 43%;
    left: 60px;
  }
  main .testimonials-slider .testimonials-image .testimonials-button .testimonials-button .prev,
  main .testimonials-slider .testimonials-image .testimonials-button .testimonials-button .next {
    padding: 0.2rem 1rem 0.4rem 1rem;
  }
}
/*# sourceMappingURL=style.css.map */